body{
    background-color: black;
}


.desktop{
   background: url("/resource/default.jpg");
   background-size: 100% auto;
   position: fixed;
   width: 100%;
   height: 100%;
   background-color: transparent;
   background-repeat: no-repeat;
   background-position-y: center;
   margin: auto auto;
   min-width: 1000px;
}

.desktop>.container>a>.icon{
    display: block;
    height: 50px;
    width: 50px;
    margin: 10px auto;
    font-size: 30px;
    line-height: 50px;  
    border-radius: 20%;
    text-align: center;
}
body>.desktop>.container>a>.icon:hover{
    font-size: 47px;
    background-color: rgb(150, 146, 145);
}

.container{
    float: left;
    width: 70px;
    height: 100%;
    background-color:#111a;
    overflow: scroll;
}
.container:hover{
    height: 88%;
    padding-top: 20px;
    padding-bottom: 100px; 
}
.container::after,.container::before{
    content: "";
    position: absolute;
    display: inline-block;
    height: 20px;
    width: 70px;
    background-color:transparent;
}
.container:hover::after,.container:hover::before{
    background-color:#333c;
}
.container::after{
    bottom: 0;
}
.container::before{
    top: 0;
}

/*  */
.desktop>#toolbar{
    margin-left: auto;
    margin-right: 0;
    float: right;
    height: 30px;
    line-height: 30px;
    background-color: #ccc4;
}
.desktop>#toolbar>.iconfont{
    display: inline-block;
    font-size: 20px;
    width:30px;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    border-radius: 20%;
}
.desktop>#toolbar>.iconfont:hover{
    background-color: #ccca;
}
.desktop>#toolbar::after{
    content: attr(data-text);
    display: inline-block;
    font-size: 10px;
    /* width:50px; */
    text-align: center;
    overflow: hidden;
}

.main{
    position: relative;
    /* top: 30px; */
    /* left: 70px; */
    margin-top: 30px;
    margin-left: 70px;
    background-color:transparent;
    width: calc(100% - 70px);
    height: calc(100% - 30px);
    z-index: -1;
    /* border-top: 1px solid transparent; */
}

.windows{
    position: absolute;
    bottom: 8%;
    width: 100px;
    height: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    visibility: hidden;
}
.windows>li{
    float: left;
    width: 20px;
    background-color: red;
}
.windows>li:hover{
    background-color: aqua;
}



